---
name: test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go: ["1.17", "1.18"]
    steps:
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Run install script
        run: |
          chmod +x scripts/install.sh
          ./scripts/install.sh

      - name: Compile IndiePKG
        run: make

      - name: Run with empty args
        run: ./indiepkg

      - name: Run help command
        run: ./indiepkg help

      - name: Run setup command
        run: ./indiepkg setup -d

      - name: Run github commands
        continue-on-error: true
        run: |
          ./indiepkg github-gen talwat indiepkg -d
          ./indiepkg list-all -d

      - name: Add bin repo
        run: ./indiepkg repo add https://raw.githubusercontent.com/talwat/indiepkg/main/packages/bin/

      - name: Install a few packages
        run: ./indiepkg install https://raw.githubusercontent.com/talwat/indiepkg/main/packages/pfetch.json packages/yaf.json neofetch deno -y -d

      - name: Test installed packages
        run: |
          $HOME/.local/bin/pfetch
          $HOME/.local/bin/yaf
          $HOME/.local/bin/neofetch
          $HOME/.local/bin/deno --version

      - name: Force upgrade packages
        run: |
          ./indiepkg upgrade -f -d
          ./indiepkg upgrade pfetch yaf neofetch deno -f -d

      - name: Update packages
        run: |
          ./indiepkg update -d
          ./indiepkg upgrade pfetch yaf neofetch deno -d

      - name: Add repo
        run: ./indiepkg repo add https://raw.githubusercontent.com/talwat/indiepkg/main/packages/linux-only/

      - name: List repos
        run: ./indiepkg repo list

      - name: Test querying
        continue-on-error: true
        run: ./indiepkg search fetch

      - name: Try installing package from linux-only
        run: ./indiepkg install katfetch -y -d

      - name: List packages
        run: ./indiepkg list

      - name: Uninstall package with --purge
        run: ./indiepkg uninstall neofetch -p -y

      - name: Uninstall other packages
        run: ./indiepkg uninstall pfetch yaf deno -y -d

      - name: Test info command
        run: |
          ./indiepkg info btop
          ./indiepkg info https://raw.githubusercontent.com/talwat/indiepkg/main/packages/pfetch.json
          ./indiepkg info packages/yaf.json

      - name: Try other commands
        run: |
          ./indiepkg re-clone
          ./indiepkg init -y
          ./indiepkg sync
          ./indiepkg remove-data btop -y -d
          ./indiepkg version
          ./indiepkg fetch

      - name: Try manually updating IndiePKG
        run: |
          ./indiepkg indiepkg-update

      - name: Remove repo
        run: ./indiepkg repo remove https://raw.githubusercontent.com/talwat/indiepkg/main/packages/linux-only/
